<!-- Content Row -->
<div class="row">
  
  <div class="col-md-12">
    <alert></alert>
  </div>
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">Upcoming Events</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.upcomingEvents}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Past Events</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.pastEvents}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pending Requests Card Example -->
  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Registered Attendees</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.totalRegisteredAttendees}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-list-ul fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Confirmed Attendees</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{dashboardSummary.totalConfirmedAttendees}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->

 
</div>

<div class="row">

  <div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-orange">Daily Overview</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="w-100 h-100 ">
          <div style="text-align:center">
            <div id="chart">
              <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend"
                [colors]="chartOptions.colors" [grid]="chartOptions.grid">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Pie Chart -->
  <div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-orange">Monthly Registration Overview</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body p-0">
        <div id="chart">
          <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart"
            [xaxis]="lineChartOptions.xaxis" [stroke]="lineChartOptions.stroke" [tooltip]="lineChartOptions.tooltip"
            [dataLabels]="lineChartOptions.dataLabels" [fill]="lineChartOptions.fill" [yaxis]="lineChartOptions.yaxis"
            [title]="lineChartOptions.title">
          </apx-chart>
        </div>

        <div class="mt-4 text-center small">

        </div>
      </div>
    </div>
  </div>
</div>
