<h1 class="h3 mb-2 text-gray-800">Update Setting</h1>
<p class="mb-4"></p>

<form class="form" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div class="row">

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Setting Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-8">
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">App Name</label>
                <input type="text" name="appName" class="form-control" id=appName placeholder=""  [(ngModel)]="formData.appName">
              </div>
            
             

            <div class="form-row">
            <div class="form-group col-md-12">
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">App Version</label>
                <input type="text" name="appVersion" class="form-control" id=appVersion placeholder=""  [(ngModel)]="formData.appVersion" >
              </div>
            </div>
          </div>
            <!-- Form Row-->
            <!-- <div class="form-row">
              <div class="form-group col-md-12">
                <label class="small mb-1" for="inputFirstName">About</label>
                <ejs-richtexteditor id='defaultRTE' [toolbarSettings]='tools' [quickToolbarSettings]='quickTools' formControlName="about">
                </ejs-richtexteditor>                
              </div>
            </div> -->
            <angular-editor [config]="editorConfig" name="about"  [(ngModel)]="formData.about" ></angular-editor>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="small mb-1" for="inputFirstName">Facebook URL</label>              
              <input type="text" name="facebookUrl" class="form-control" id=facebookUrl placeholder=""  [(ngModel)]="formData.facebookUrl" >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="small mb-1" for="inputFirstName">Instagram URL</label>              
              <input type="text" name="instagramUrl" class="form-control" id=instagramUrl placeholder=""    [(ngModel)]="formData.instagramUrl" >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="small mb-1" for="inputFirstName">Twitter URL</label>              
              <input type="text" name="twitterUrl" class="form-control" id=twitterUrl placeholder="" standalone [(ngModel)]="formData.twitterUrl" >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="small mb-1" for="inputFirstName">YouTube URL</label>              
              <input type="text" name="youtubeUrl" class="form-control" id=youtubeUrl placeholder=""  [(ngModel)]="formData.youtubeUrl">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="small mb-1" for="inputUsername">Upload Events PDF  <em style="color: red;">*</em></label>
              <input type="file" (change)="onFileChange($event.target.files)" style="margin-top: 5px;" />
              <div *ngIf="formData.pdfFile">
              <input type="text" name="pdfFile" class="form-control" name="pdfFile" [(ngModel)]="formData.pdfFile" readonly/>
               </div>
            </div>
          </div>



        </div>
          <div class="form-group col-md-4 text-center">
            <label for="inputFirstName" style="margin-bottom: 0rem;margin-top: 20px;">Upload Splash</label>
            <app-imageupload #splashImageUpload name="splashScreen"></app-imageupload>            
          
          
        </div>

          </div>
            
          
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label for="Item Status">Status</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="statusID" >
                <label class="custom-control-label" for="statusID"></label>
              </div>
            </div>
          </div>
         
          <button class="btn btn-primary" type="submit">Save changes</button>

        </div>
      </div>
    </div>
  </div>
</form>
