<h1 class="h3 mb-2 text-gray-800">Add Organising Committee</h1>
<p class="mb-4"></p>

<form [formGroup]="organisingcommitteeForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Organising Committee Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-8">
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">Name</label>
                <input type="text" class="form-control" id=Name placeholder="" formControlName="name">
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
                  <div *ngIf="f.name.errors.required">
                    Name is required.
                  </div>
                </div>
              </div>
              <!-- Form Row-->
              
             
              <div class="form-row">
                <div class="form-group col-md-12">
                  <!-- <label class="small mb-1" for="inputLastName">Designation</label>
                  <input type="text" class="form-control" id=designation placeholder="" formControlName="designation"> -->

                  
                    <label class="small mb-1" for="inputUsername">Designation</label>
                    <input type="text" class="form-control" id=designation placeholder="" formControlName="designation">
                    <label class="small mb-1" for="inputUsername">Display Order</label>
                    <input type="number" class="form-control" id=displayOrder placeholder="" formControlName="displayOrder">
                  

                  <!-- <ejs-richtexteditor id='defaultRTE' [toolbarSettings]='tools' [quickToolbarSettings]='quickTools' formControlName="designation">
                  </ejs-richtexteditor> -->
                  <!--<textarea type="text" class="form-control" id=about placeholder="" formControlName="about"></textarea>-->
                </div>
              </div>
            </div>
            <div class="form-group col-md-4 text-center">
              <app-imageupload></app-imageupload>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label for="Item Status">Status</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="statusID" formControlName="statusID">
                <label class="custom-control-label" for="statusID"></label>
              </div>
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Save changes</button>

        </div>
      </div>
    </div>
  </div>
</form>
