<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Report</h1>
<p class="mb-4"></p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-6">
        <h6 class="m-0 font-weight-bold text-orange">Event Details</h6>
      </div>
      <div class="col-md-6 text-right"> </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 form-group">
        <label>Select Date</label>
        <ngbd-datepicker-range-popup></ngbd-datepicker-range-popup>
      </div>

      <div class="col-md-6 form-group text-right">
        <button type="submit" class="btn btn-primary mt-4 mr-1" (click)="exportAsXLSX()">
          <span>Export</span>
        </button>
        <button class="btn btn-primary mt-4" (click)="Filter()" type="submit">Search</button>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-12 form-group">
          <label for="inputUsername">Select Events</label>
          <ng-select [items]="Events" [multiple]="true" bindLabel="name" [selectableGroup]="true" [selectableGroupAsModel]="false" [closeOnSelect]="false" bindValue="eventID" [(ngModel)]="selectedEvents">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.eventID }}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
              </ng-template>
          </ng-select>
      </div> -->

      <div class="form-group col-md-4">
        <label class="small mb-1" for="inputLocation">Select Events</label>
        <ng-select [items]="Events" bindLabel="name" bindValue="eventID" [multiple]="true" placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedEvents">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right" style="border-left: 1px solid #000;" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
        </ng-select>
      </div>


    </div>
    <div class="tile-body p-0 table-responsive ">
      <table class="table table-striped">
        <thead>
          <tr class="table-header">
            <th width="10%">Event Name</th>
            <!--<th width="10%">Event Type</th>-->
            <th width="10%">Start Date</th>
            <th width="10%">End Date</th>
            <th width="10%">Time</th>
            <th width="10%">Participant Name </th>
            <th width="10%">Email </th>
            <th width="10%">Contact No</th>
            <th width="10%">Status</th>
            <!--<th width="10%">Occupation</th>
            <th width="5%">Gender</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderDetails">
            <td>{{item.name}} </td>
            <!--<td>{{item.type}} </td>-->
            <td>{{item.fromDate | date:'dd-MM-yyyy' }} </td>
            <td>{{item.toDate | date:'dd-MM-yyyy' }} </td>
            <td>{{item.eventTime}}</td>
            <td>{{item.fullName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNo}}</td>
            <td>
              <span class="badge badge-warning"
                    *ngIf="item.statusID == 1">Pending</span>

              <span class="badge badge-success"
                    *ngIf="item.statusID == 102">Approved</span>

              <span class="badge badge-danger"
                    *ngIf="item.statusID == 103">Cancelled</span>
            </td>
            <!--<td>{{item.occupation}}</td>
            <td>{{item.gender}}</td>-->
          </tr>
        </tbody>
      </table>
    </div>
    <!--<div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="pagination-count">
          Showing
          <strong>{{(service.pageSize * service.page)-9}}</strong> to
          <strong>{{(service.pageSize * service.page) > (total$ | async)!?(total$ | async)!:service.pageSize * service.page}}</strong> of
          <strong>{{(total$ | async)!}}</strong> results
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <ngb-pagination [collectionSize]="(total$ | async)!" class="float-right" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="3" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </div>-->
  </div>
</div>
