<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Location</h1>
<p class="mb-4"></p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-6">
                <h6 class="m-0 font-weight-bold text-orange">Locations List</h6>
            </div>
            <div class="col-md-6 text-right"> <button [routerLink]="['add']" class="btn btn-primary ">
                Add Location
            </button>
            </div>
        </div>



    </div>
    <div class="card-body">
        <div class="tile-body p-0 table-responsive ">
            <table class="table table-striped">
                <thead>
                  <tr class="table-header">
                    <th width="20%" sortable="name" (sort)="onSort($event)"> Name </th>
                    <th width="20%" sortable="description" (sort)="onSort($event)"> Description </th>
                    <th width="10%" sortable="discounts" (sort)="onSort($event)"> Discount</th>
                    <th width="10%" sortable="tax" (sort)="onSort($event)"> Tax</th>
                    <th width="10%" sortable="minOrderAmount" (sort)="onSort($event)"> Min Order Amount</th>
                    <th width="10%" sortable="contact" (sort)="onSort($event)"> Contact </th>
                    <th width="10%" sortable="status" (sort)="onSort($event)">Status </th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of data$ | async ">

                    <td> {{item.name}} </td>
                    <td> {{item.description}} </td>
                    <td> {{item.discounts}} </td>
                    <td> {{item.tax}} </td>
                    <td> {{item.minOrderAmount}} </td>                    
                    <td> {{item.contactNo}} </td>
                    
                    <td>
                      <ngb-highlight [ngClass]="{'btn-success': item.statusID === 1, 'btn-danger':item.statusID !== 1 }" class="btn btn-sm" [result]="item.statusID ==1?'Active':'Inactive'" [term]="service.searchTerm">
                      </ngb-highlight>
                    </td>
                    <td>
                      <a (click)="Edit(item.locationID)"><i class="fas fa-fw fa-edit"></i> </a>

                      <a (click)="Delete(item)"><i class="fas fa-fw fa-trash-alt"></i> </a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p class="pagination-count">
                    Showing
                    <strong>{{(service.pageSize * service.page)-9}}</strong> to
                    <strong>{{(service.pageSize * service.page) > (total$ | async)!?(total$ | async)!:service.pageSize * service.page}}</strong> of
                    <strong>{{(total$ | async)!}}</strong> results
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ngb-pagination [collectionSize]="(total$ | async)!" class="float-right" [(page)]="service.page" [pageSize]="service.pageSize" [maxSize]="3" [rotate]="true" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
