<h1 class="h3 mb-2 text-gray-800">Add banner</h1>
<p class="mb-4"></p>

<form [formGroup]="bannerForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Banner Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-8">
              <div class="form-group">
                <label class="small mb-1" for="inputUsername">Title</label>
                <input type="text" class="form-control" id=title placeholder="" formControlName="title">
                <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)" class="alert alert-danger">
                  <div *ngIf="f.title.errors.required">
                    Title is required.
                  </div>
                </div>
              </div>
              <!-- Form Row-->
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="small mb-1" for="inputFirstName">Description</label>
                  <input type="text" class="form-control" id=Description placeholder="" formControlName="description">
                  <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="alert alert-danger">
                    <div *ngIf="f.description.errors.required">
                      Description is required.
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="small mb-1" for="inputLastName">Banner Type</label>
                  <select type="text" class="form-control" id=type placeholder="" formControlName="type">
                    <option selected disabled> -- Please Select -- </option>
                    <option>Header</option>
                    <option>Featured</option>
                  </select>
                   
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="small mb-1" for="inputLastName">Screen</label>
                  <select type="text" class="form-control" id=screen placeholder="" formControlName="screen">
                    <option selected disabled> -- Please Select -- </option>
                    <option>Home</option>
                    <option>Event</option>
                    <option>Speaker</option>
                  </select>
                   
                </div>
              </div>

 


            </div>
            <div class="form-group col-md-4 text-center">
              <app-imageupload></app-imageupload>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-12">
              <label for="Item Status">Status</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="statusID" formControlName="statusID">
                <label class="custom-control-label" for="statusID"></label>
              </div>
            </div>
          </div>
          <!-- Save changes button-->
          <button class="btn btn-primary" type="submit">Save changes</button>

        </div>
      </div>
    </div>
  </div>
</form>
