<h1 class="h3 mb-2 text-gray-800">Add Event</h1>
<p class="mb-4"></p>

<form [formGroup]="eventForm" class="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xl-12">
      <div class="card mb-4">
        <div class="card-header">Event Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputUsername">Name<em style="color: red;">*</em></label>
              <input type="text" class="form-control" id=Name placeholder="" formControlName="name">

              <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">
                  Event Name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Event Type</label>
              <select class="form-control" id=type placeholder="" formControlName="type">
                <option>Onsite</option>
                <option>Online</option>
                <option>Both</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Event Link</label>
              <input type="text" class="form-control" id=eventLink placeholder="" formControlName="eventLink">
            </div>


          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Email<em style="color: red;">*</em></label>
              <input type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" id=email placeholder="abc@gmail.com" formControlName="email">
              <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
                <div *ngIf="f.email.errors?.required">
                  Email is required.
                </div>
                <div *ngIf="f.email.errors?.pattern">
                  Please enter a valid email address.
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Contact No</label>
              <input type="text" maxlength="12" class="form-control" id=phoneNo placeholder="xxxx-xxxxxxx" formControlName="phoneNo">
            </div>

            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Event City</label>
              <input type="text" class="form-control" id=eventCity placeholder="" formControlName="eventCity">
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Workshop Detail Link</label>
              <input type="text" class="form-control" id=locationLink placeholder="" formControlName="locationLink">
            </div>
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Venue</label>
              <input type="text" class="form-control" id=location placeholder="" formControlName="location">
            </div>
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLastName">Display Order</label>
              <input type="number" class="form-control" id=displayOrder placeholder="" formControlName="displayOrder">
            </div>

            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLocation">Event Category<em style="color: red;">*</em></label>
              <select class="custom-select" formControlName="eventCategoryID">
                <option [ngValue]="option.eventCategoryID" selected="option.eventCategoryID == eventCategoryID"
                        *ngFor="let option of EventCategoryList">
                  {{option.name}}
                </option>
              </select>
            </div>


            <!-- <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLocation">Event Organizer<em style="color: red;">*</em></label>
              <ng-select [items]="OrganizerList" bindLabel="name" bindValue="organizerID" [multiple]="true" placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedOrganizerIds">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngFor="let item of items">
                    <span class="ng-value-label">{{item.name}}</span>
                    <span class="ng-value-icon right" style="border-left: 1px solid #000;" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </ng-template>
              </ng-select>
            </div> -->
            <div class="form-group col-md-4">
              <label class="small mb-1" for="inputLocation">Event Speakers<em style="color: red;">*</em></label>
              <ng-select [items]="SpeakerList" bindLabel="name" bindValue="speakerID" [multiple]="true" placeholder="" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedSpeakerIds">
                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                  <div class="ng-value" *ngFor="let item of items">
                    <span class="ng-value-label">{{item.name}}</span>
                    <span class="ng-value-icon right" style="border-left: 1px solid #000;" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label class="small mb-1" for="inputLocation">Description</label>

              <!-- <ejs-richtexteditor id='defaultRTE' [toolbarSettings]='tools' [quickToolbarSettings]='quickTools' formControlName="description">
              </ejs-richtexteditor> -->
              <angular-editor [config]="editorConfig" formControlName="description"></angular-editor>

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label class="mb-1" for="inputLocation">Choose Start to End Date<em style="color: red;">*</em></label>
              <ngbd-datepicker-range-popup></ngbd-datepicker-range-popup>
            </div>
            <div class="form-group col-lg-6">
              <label for="Item Status">Status</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="statusID" formControlName="statusID">
                <label class="custom-control-label" for="statusID"></label>
              </div>
            </div>
            <div class="form-group col-lg-3" style="display: none;">
              <label for="Item Status">Is Workshop</label>
              <div class="custom-control custom-switch custom-switch-md">
                <input type="checkbox" class="custom-control-input" checked id="isFeatured" formControlName="isFeatured">
                <label class="custom-control-label" for="isFeatured"></label>
              </div>
            </div>

            <div class="form-group col-md-3">
              <label for="Item Status">Event Start Time<em style="color: red;">*</em></label>
              <ngb-timepicker [(ngModel)]="eventTime" [ngModelOptions]="{standalone: true}" [meridian]="true"></ngb-timepicker>
            </div>
            <div class="form-group col-md-3">
              <label for="Item Status">Event End Time<em style="color: red;">*</em></label>
              <ngb-timepicker [(ngModel)]="eventEndTime" [ngModelOptions]="{standalone: true}" [meridian]="true"></ngb-timepicker>
            </div>

          </div>
          <div class="form-row">
            <div class="col-md-12 form-group">
              <small>Recommened Files Size: 500X500 & <br>File Size limit is 500 KB</small>
              <br>
              <label for="file">Select Images <em style="color: red;">*</em></label>
              <input formControlName="file" id="file" type="file" class="form-control" multiple="" (change)="onFileChange($event)">
              <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
              </div>
            </div>
            <div *ngFor='let url of Images' class="col-md-2">
              <i class="fa fa-times" (click)="removeImage(url)" style="    background: #E91E63;
                              padding: 5px 8px;
                              border-radius: 18px;
                              color: white;
                              position: absolute;
                              left: 0;"></i>
              <img [src]="url" style="padding: 7px; max-width: 200px;  width: auto;height: 180px;"> <br />
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>
